<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar item"><%= link_to "Edit Profile", edit_user_registration_path, class: 'sidebar-link active' %></li>
    </ul>
    <br/>
    <%= link_to 'View My Profile', user_path(current_user.id), class: 'btn btn-default' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Profile
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h2>Edit <%= resource_name.to_s.humanize %></h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "shared/devisemes"%>

                <div class="form-group">
                  <%= f.text_field :fullname, autofocus: true, placeholder: "Full name", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.text_field :phone_number, autofocus: true, placeholder: "Phone number", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.text_area :description, rows: 5, cols: 25, autofocus: true, placeholder: "Description", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
                </div>

                <div>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, placeholder: "Leave this blank if you don't want to update password", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>


                <div class="actions">
                  <%= f.submit "Update", class: "btn btn-normal btn-block" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







