<% unless resource.errors.empty? %>
  <script type="text/javascript">
      <% resource.errors.full_messages.each do |value| %>
      toastr.error('<%= value %>')
      <% end %>
  </script>

<% end %>