<div id="main">
  <div id="left">
    <!--search panel-->
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          More filters <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>




    <div class="row">
      <br/>
      <div class="collapse" id="collapsePanel">
        <%= search_form_for @search, url: search_path, remote: true do |f| %>

          <div class="row">
            <div class="col-md-8">
              <label>Price Range:</label>
              <div id="slider-range"></div>
            </div>
            <div class="col-md-2">
              <label>Min Price:</label>
              <%= f.text_field :price_gteq, class:"form-control" %>
            </div>
            <div class="col-md-2">
              <label>Max Price:</label>
              <%= f.text_field :price_lteq, class:"form-control" %>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-md-6">
              <%= text_field_tag :start_date, params[:start_date], readOnly: true, placeholder: "Start Date", class:"form-control datepicker" %>
            </div>
            <div class="col-md-6">
              <%= text_field_tag :end_date, params[:end_date], readOnly: true, placeholder: "End Date", class:"form-control datepicker" %>
            </div>
          </div>
          <hr/>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Entire" %>Entire Room
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Private" %>Private Room
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Shared" %>Shared Room
            </div>
          </div>
          <br/>

          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Accommodate</label>
                <%= f.select :accomodate_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                             id: "accomodate", prompt: "Select...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label>Bedrooms</label>
                <%= f.select :bed_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                             id: "bed_room", prompt: "Select...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <label>Bathrooms</label>
                <%= f.select :bath_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                             id: "bath_rooms", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[is_tv_eq]", true %> TV
            </div>

            <div class="col-md-4">
              <%= check_box_tag "q[is_kitchen_eq]", true %> Kitchen
            </div>

            <div class="col-md-4">
              <%= check_box_tag "q[is_wifi_eq]", true %> Wifi
            </div>

            <div class="col-md-4">
              <%= check_box_tag "q[is_heating_eq]", true %> Heating
            </div>

            <div class="col-md-4">
              <%= check_box_tag "q[is_air_eq]", true %> Air-conditioning
            </div>
          </div>
          <br/>

          <div class="row text-center">
            <%= f.submit "Search", class: "btn btn-form" %>
          </div>

        <% end %>
      </div>
      <br/>
      <!--Homes-->
      <div><h3>Homes</h3></div>
      <br/>

      <div class="row" id="room_listing">
        <%=  render partial: "rooms/rooms_list", locals: {rooms: @arrRooms} %>
      </div>

    </div>
  </div>


  <div id="right">
    <!--Google map-->
    <div id="map" style="width: 100%; height: 100%;"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZKgA0bVKnxSYVacqJ9oZDRCAmtbCxcCw"></script>
    <script>
      function initialize(rooms) {
          var location = {lat: 44.5403, lng: -78.5463}

          if (rooms.length > 0) {
              location = {lat: rooms[0].latitude , lng: rooms[0].longitude }
          }

          var map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 12
          });

          var marker, inforwindow;

          rooms.forEach(function(room) {
              marker = new google.maps.Marker({
                  position: {lat: room.latitude, lng: room.longitude},
                  map: map
              });

              inforwindow = new google.maps.InfoWindow({
                  content: "<div class='map_price'>$" + room.price + "</div>"
              });

              inforwindow.open(map, marker);
          });

      }

      google.maps.event.addDomListener(window, 'load', function() {
          initialize(<%= raw @arrRooms.to_json %>)
      });

    </script>
  </div>
</div>

<script>
    $('#start_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0,
        maxDate: '3m',
        onSelect: function(selected) {
            $('#end_date').datepicker("option", "minDate", selected);
            $('#end_date').attr("disabled", false);
        }
    });

    $('#end_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0,
        maxDate: '3m',
        onSelect: function(selected) {
            $('#start_date').datepicker("option", "maxDate", selected);
        }
    });

    var open = true;

    $('#filter').click(function() {
        if (open) {
            $('#filter').html("More filters <i class='fa fa-chevron-up'></i>")
        } else {
            $('#filter').html("More filters <i class='fa fa-chevron-down'></i>")

        }

        open = !open;
    });
</script>

<script>
  $(function() {
      $("#q_price_gteq").val('100');
      $("#q_price_lteq").val('500');
      $("#slider-range").slider({
          range: true,
          min: 0,
          max: 1000,
          values: [100, 500],
          slide: function(event, ui) {
              $("q_price_gteq").val(ui.vlaues[0]);
              $("#q_price_lteq").val(ui.values[1]);
          }
      });

      $(".ui-widget-header").css('background', '#00A699');
      $(".ui-state-default, .ui-widger-content").css('background', 'white');
      $(".ui-state-default, .ui-widger-content").css('border-color', '#00A699');


  });
</script>