<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", rooms_path, class: "sidebar-link active " %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link " %></li>
      <li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link " %></li>

    </ul>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Listings
      </div>
      <div class="panel-body">

          <% @rooms.each do |room| %>
            <div class="row">
              <div class="col-md-2">
                <%= image_tag room.cover_photo(:thumb) %>
              </div>
              <div class="col-md-7">
                <h4><%= link_to room.listing_name, room_path(room) %></h4>
              </div>
              <div class="col-md-3 right">
                <%= link_to "Update", listing_room_path(room) ,class: "btn btn-form"%>
              </div>
            </div>
            <hr/>
          <% end %>


      </div>
    </div>
  </div>
</div>