<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>

  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Location
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

            <div class="row">
              <div class="form-group">
                <label>Location</label>
                <%= f.text_field :address, placeholder: 'Where is your house?', class:'form-control', required: true  %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit 'Save', class:'btn btn-form' %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>