$('#photos').html("<%= j render 'photos_list' %>")

<% if @room.photos.blank? %>
  $('#photo_check').hide();
<% end %>

<% if !@room.active && !@room.price.blank? && !@room.photos.blank? && !@room.listing_name.blank? && !@room.address.blank? %>
  $('#publish_button').attr('disabled',false);
<% else %>
  $('#publish_button').attr('disabled',true);

<% end %>