<% if @host_reviews.count == 0 %>
  <div class="text-center">
    <h4>No Reviews</h4>
  </div>
<% else %>
  <% @host_reviews.order(id: :desc).each do |review| %>
    <hr/>
    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag avatar_url(review.host), class: "img-circle avatar-medium" %><br/><br/>
        <strong><%= review.host.fullname %></strong>
      </div>

      <div class="col-md-9">
        <div id="star_<%= review.id %>"></div>
        <% if current_user && current_user == review.host %>
          <span class="pull-right">
            <%= link_to review, method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-trash-o fa-lg"></i>
            <% end %>
          </span>
        <% end %>
        <div><%= review.created_at.strftime("%v") %></div>
        <div><%= review.comment %></div>
      </div>

    </div>

    <script>
        $('#star_<%= review.id %>').raty({
            path: '/assets/',
            readOnly: true,
            score: <%= review.star %>
        });
    </script>

  <% end %>
<% end %>