<!DOCTYPE html>
<html>
  <head>
    <title>AirPikachu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAZKgA0bVKnxSYVacqJ9oZDRCAmtbCxcCw&libraries=places"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css" %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
